<main>
  <h1>{{puzzle.name}}</h1>
  <img class="cube" src="{{puzzle.imageUrl}}">
  <div class="details">
    <p><span>Description:</span> {{puzzle.description}}</p>
    <p><span>Difficulty level:</span>{{puzzle.difficultyLevel}}</p>
    <a class="btn" href="/">Back</a>
    <a class="btn" href="/products/{{puzzle._id}}/attach">Attach</a>
  </div>
  <h2>Accessories</h2>
  <div class="accessories">
    {{#each puzzle.accessories}}
    {{>accessory}}
    {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>
    {{/each}}
  </div>
</main>